<div>

    <div class="input-group">
        <span class="input-group-addon">Total</span>
        <input type="text" ng-model="total" class="form-control" placeholder="Total">
    </div>
    <div class="input-group">
        <span class="input-group-addon">Group</span>
        <input type="text" ng-model="group" class="form-control" placeholder="Total">
    </div>


    <div>
        <h3>10%: {{hereTen | currency}}  Total: {{hereTenTotal| currency}}</h3>
        <h3>13%: {{hereThirteen | currency}}  Total: {{hereThirteenTotal| currency}}</h3>
        <h3>15%: {{hereFifteen | currency}}  Total: {{hereFifteenTotal| currency}}</h3>
        <h3>18%: {{hereEighteen | currency}}  Total: {{hereEighteenTotal| currency}}</h3>
        <h3>20%: {{hereTwenty | currency}}  Total: {{hereTwentyTotal| currency}}</h3>       
    </div>


    <!--<div class="alert alert-success" role="alert">{{here}}</div>-->
</div>